@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Urbanist:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400&family=Urbanist:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

$licorie : 'Licorice', cursive;
$roboto : 'Roboto', sans-serif;
$openSans : 'Open Sans', sans-serif;
$montserrat : 'Montserrat', sans-serif;

$black : #454f5a;

svg {
    width:100%;
   position: absolute;
}

.section-a {
    width: 100%;
    padding-left: 14%;
    .heading-section {
        margin-top: 100px;
        width: 100%;
       
        h1.heading {
            font-weight: 600;
            font-size: 80px;
            letter-spacing: 1px;
            font-family: $montserrat;
            color: $black;
        }
    
        p {
            font-weight: 500;
            font-size: 18px;
            font-family: $montserrat;
            margin-top: 20px;
            color: $black!important;
        }

        .heading-button {
            width: 300px;
            padding: 20px;
            background-color: #f6b23d;
            border: none;
            color: white;
            font-weight: bold;
            letter-spacing: 1px;
            border-radius: 5px;
            cursor: pointer;
            font-family: $openSans;
            margin-top: 50px;
        }
    }
}

img.heading-image {
    width: 100%;
}

.stage {
    height: 15px;
    width: 450px;
    border-radius: 50%;
    color: lightblue;
    background-color: #58caff;
    border: 0;
    margin-top: -25px;
    
}

.landpage-section-a {
    padding: 0;
    margin: 0;
}

.landpage-section-b {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px;
    margin: 0;
}

@media only screen and (max-width: 1195px) {
    .section-a {
        padding-left: 13%;
        .heading-section {
            h1.heading {
                font-size: 70px;
            }
        }

    }
}

@media only screen and (max-width: 1024px) {
    .section-a {
        padding-left: 8%;
        .heading-section {
            h1.heading {
                font-size: 60px;
            }
        }
    }
}


