@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Urbanist:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400&family=Urbanist:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

$licorie : 'Licorice', cursive;
$roboto : 'Roboto', sans-serif;
$openSans : 'Open Sans', sans-serif;
$montserrat : 'Montserrat', sans-serif;

$black : #454f5a;
$yellow : #F6B23D;
$blue : #58caff;
$pink : #ff5488;
$grey: #9f9cab;

.payment-image-2 {
    position: absolute;
    top: 15%;
    max-width: 350px;
    left: 30%;
}

.list-item-icon {
    height: 30px;
    width: 30px;
}